.interval-toggle {
  position: absolute;
  right: 20px;
  top: 20px;

  &__form {
    padding: 5px;
    background-color: #bbb;
    border-radius: 10px;
  }

  &__field {
    width: 50px;
    outline: none;

    &:focus {
      border: 2px solid #444;
    }
  }
}
